.guide-container{
    background-color: #30cae9f6;
    display: flex;
    height: 88vh;
    width: fit-content;
    padding-top: 1rem;
    text-align: left;
    color: white;
}
.guide-container .guide-table  .content-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    
}
.guide-container .guide-table  .content-container .content{
    color: white;
    text-align: left;
}